* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}




header { 
    background-color: mediumvioletred;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
img {
    width: 50px;
}

.logocontainer {
    display: flex;
    
}
.main-container {
    display: flex;
}
#menu {
    width: 300px;
    background-color: #f2d0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.giraitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    padding-top: 20px;
}

#bolos {
    background-color: white;
    flex: 1;
  
    
}
main {
    background-color: white;
    flex: 1;
    
}

.bolos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;   
   padding-top: 20px;
   padding-left: 30px;
   
}
.bolosjanela {

display: flex;
flex-direction: column;
background-color: white;
border: 1px solid cadetblue;
justify-content: space-between;
align-items: center;
width: 400px;
height: 400px;
box-shadow: 1px 1px darkgray;


}
#imgbolo{
    width: 250px;
}
footer {
    background-color: rgb(65, 31, 52);
    height: 100px;
}